/****************TAGS*******************/

body
{
  background-color:hsl(185, 75%, 39%) ;
}

/*******************CLASSES****************/
.top-left-container
{
  width: 50%;
  transform: rotate(90deg);
}
.parent
{

}
.child
{

}
.bottom-left-container
{
  width: 50%;
  transform: rotate(270deg);
}



/**********************IDS***********************/
